.grid {
    display: grid;
    grid-template-columns: 60vw 40vw;
    height: 100vh;
}

.boardContainer {
    display: flex;
    align-items: center;
    height: 100vh;
}

.board {
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

.boardBlank {
    background-repeat: no-repeat;
    background-size: cover;
}

.panel {
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-left: 10%;
    padding-right: 5%;
    height: 5vh;
}

.detail {
    white-space: pre-line;
}

.infoDetail {
    text-align: center;
    font-weight: bolder;
}

.gamePlay {
    height: 75vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.events {
    padding-left: 10%;
    padding-right: 5%;
}

.eventButton {
    font-family: "DOSMyungjo";
    width: 30vw;
    height: 8vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: 0;
    margin-top: 10px;
}

.units {
    width: 40vw;
}

.buttons {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-left: 5vw;
    padding-right: 5vw;
}

.unitDetailContainer {
    width: 27vw;
    height: 15vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5vh;
}

.unitDetailContainer .description {
    white-space: pre-line;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.buyOption {
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buildings {
    width: 40vw;
}

.buildingButtons {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buildingBtn {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    margin-left: 10px;
    margin-right: 10px;
}

.buildBoardContainer {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buildingDetailContainer {
    width: 27vw;
    height: 15vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    margin-right: auto;
    margin-left: auto;
}

.buildingDetailContainer .description {
    padding-left: 5%;
    padding-right: 5%;
    white-space: pre-line;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.smallBtn img {
    width: 5vw;
    height: 5vw;
}

.select {
    height: 15vh;
    text-align: center;
}

@media (min-width: 1080px) {
    .boardBlank {
        width: 60px;
        height: 60px;
    }

    .detail {
        font-size: 20px;
    }

    .description {
        font-size: 10px;
    }

    .bigBtn img {
        width: 70px;
        height: 70px;
    }

    .eventButton {
        font-size: 15px;
    }
}

@media (min-width: 1280px) {
    .boardBlank {
        width: 70px;
        height: 70px;
    }

    .detail {
        font-size: 30px;
    }

    .description {
        font-size: 12px;
    }

    .bigBtn img {
        width: 80px;
        height: 80px;
    }

    .eventButton {
        font-size: 20px;
    }
}

@media (min-width: 1920px) {
    .boardBlank {
        width: 100px;
        height: 100px;
    }

    .detail {
        font-size: 40px;
    }

    .description {
        font-size: 18px;
    }

    .bigBtn img {
        width: 120px;
        height: 120px;
    }

    .eventButton {
        font-size: 30px;
    }
}

@media (min-width: 2560px) {
    .boardBlank {
        width: 120px;
        height: 120px;
    }

    .detail {
        font-size: 50px;
    }

    .description {
        font-size: 22px;
    }

    .bigBtn img {
        width: 150px;
        height: 150px;
    }

    .eventButton {
        font-size: 40px;
    }
}
