.container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.menu {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

.icon {
    background-color: transparent;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.btn img {
    height: 60px;
}

.playBtn {
    margin-right: 10px;
}
